@layer base, layout, module;

@layer base {

    * {
        margin: 0px;
    }
    
    :root {
        --black: #111;
        --blue: #6a5acd;
        --dark-gray: #333;
        --darkest-gray: #111;
        --gray: #aaa;
        --light-blue: #a298e2;
        --light-gray: #ddd;
        --lightest-gray: #eee;
        --white: #fff;
    }
    
    a {
        color: var(--blue);
        text-decoration-line: underline;
    }

    @media (prefers-color-scheme: dark) {
        a {
            color: var(--light-blue);
        }
    }
    
    b, em {
        font-weight: 400;
    }
    
    body {
        background-color: var(--white);
        font-family: sans-serif;
        font-weight: 100;
    }
    
    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--darkest-gray);
            color: var(--light-gray);
        }
    }

    cite {
        font-style: normal;
    }
    
    h1 {
        padding-block: 50px;
        text-align: center;
    }
    
    h2 {
        padding-block: 30px;
        text-align: center;
    }
    
    html [lang] {
        font-style: italic;
    }
    
    p {
        padding-block: 10px;
        padding-inline: 35px;
        text-align: justify;
    }
    
    strong {
        background-color: var(--black);
        color: var(--white);
        font-weight: 100;
    }

}

@layer layout {
    
    #header, #main, #footer {
        margin-inline: auto;
        padding-block: 10px;
        width: 65dvw;
    }
    
    #header {
        overflow-x: hidden;
    }
    
    #main > section {
        padding-block-end: 10px;
    }

}

@layer module {

    .hidden {
        border: 0px;
        clip-path: inset(1px 1px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0px;
        position: absolute;
        width: 1px;
    }
    
    .img-center {
        border-radius: 10px;
        display: block;
        margin-inline: auto;
        margin-block: 10px;
    }
    
    .ingredients {
        padding-inline: 35px;
        text-align: center;
    }
    
    .ingredients > li {
        border-radius: 10px;
        box-shadow: 0px 0px 0px 1px var(--gray);
        display: inline-block;
        margin: 5px;
        padding: 12.5px;
    }
    
    .menu {
        padding-inline: 0px;
        text-align: center;
    }
    
    .menu > li {
        background-color: var(--lightest-gray);
        border-radius: 10px;
        display: inline-block;
        margin: 5px;
    }

    @media (prefers-color-scheme: dark) {
        .menu > li {
            background-color: var(--dark-gray);
        }
    }
    
    .menu-img-card {
        display: inline-block;
        padding-block: 10px;
        padding-inline: 20px;
    }
    
    .menu-img-card > img {
        border-radius: 10px;
        margin-block: 10px;
    }
    
    .menu-img-card > span {
        display: block;
        padding-block: 10px;
    }
    
    .steps {
        padding-inline: 35px;
    }
    
    .steps > li {
        list-style-position: inside;
        padding-block: 10px;
    }
    
    .steps > li::marker {
        font-weight: 400;
    }
    
    .steps-substeps {
        padding-block: 5px;
    }
    
    .steps-substeps > li {
        list-style-position: outside;
        list-style-type: circle;
    }
    
    .text-center {
        display: block;
        padding-block: 10px;
        text-align: center;
    }
    
}
