:root {
    --black: #111;
    --blue: #6a5acd;
    --dark-gray: #333;
    --darkest-gray: #111;
    --gray: #aaa;
    --light-blue: #a298e2;
    --light-gray: #ddd;
    --lightest-gray: #eee;
    --white: #fff;
}